
:root {
  --clr-emphasis-light: #ffffff;
  --clr-emphasis-shadow: #cdcdcd;
  --clr-yellow-light: #F8E08E;
  --clr-yellow-shadow:#E5C34D;
  --clr-green-light: #71CC98;
  --clr-green-dark: #007D8A;
  --clr-dark-blue:#003A70;
  --clr-dark-blue-shadow:#002140;

  --font-default:"AtkinsonHyperlegible";
  --font-logo:"JosefinSans";

  --header-size:4.5rem;
}

@font-face {
  font-family: "JosefinSans";
  font-weight: bold;
  src: 
    url(./fonts/JosefinSans/JosefinSans-Bold.woff2) format("woff2"),
    url(./fonts/JosefinSans/JosefinSans-Bold.woff) format("woff"),
    url(./fonts/JosefinSans/JosefinSans-Bold.ttf) format("truetype")
}
@font-face {
  font-family: "JosefinSans";
  font-weight: regular;
  src: 
    url(./fonts/JosefinSans/JosefinSans-Bold.woff2) format("woff2"),
    url(./fonts/JosefinSans/JosefinSans-Bold.woff) format("woff"),
    url(./fonts/JosefinSans/JosefinSans-Bold.ttf) format("truetype")
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  font-weight: bold;
  src: 
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff2) format("woff2"),
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff) format("woff"),
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.ttf) format("truetype")
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  font-weight: regular;
  src: 
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff2) format("woff2"),
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff) format("woff"),
    url(./fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.ttf) format("truetype")
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--clr-dark-blue);
  background: var(--clr-dark-blue);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-default), Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 3rem;
  line-height: 4.5rem;
}

h3{
  font-size: 2.25rem;
  line-height: 3.938rem;
}

h4{
  font-size: 1.563rem;
  line-height: 2.75rem;
}

p{
 font-size: 1rem;
 line-height: 2.188rem;
}